In [1]:
import pandas as pd
from pathlib import Path

In [3]:
school_data_to_load = Path("C:/Users/Lenovo/Downloads/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("C:/Users/Lenovo/Downloads/Starter_Code/PyCitySchools/Resources/students_complete.csv")

In [4]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [19]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [18]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].nunique()
student_count

39170

In [20]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [21]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [22]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [25]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [26]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [27]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [31]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing Rate": [overall_passing_rate]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [54]:
# School Name
school_name= school_data_complete.groupby(["school_name"])

In [55]:
# Use the code provided to select all of the school types
school_types = school_name["type"].first()

In [56]:
# Calculate the total student count per school
per_school_counts = school_name["Student ID"].count()

In [57]:
# Calculate the total school budget and per student budget
total_school_budget = school_name["budget"].first()
per_student_budget = total_school_budget/per_school_counts

In [58]:
# Calculate the average test scores per school
per_school_math =school_name["math_score"].mean() 
per_school_reading = school_name["reading_score"].mean()

In [59]:
# Calculate the % of students passing math
students_passing_math =  school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
percentage_students_passing_math = school_students_passing_math / per_school_counts * 100

In [60]:
# Calculate the % of students who passed reading
students_passing_reading =  school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
percentage_students_passing_reading = school_students_passing_reading / per_school_counts * 100

In [61]:
# % overall Passing (% of students that passed math and reading)

students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [83]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({    "School Name":[school_name],
       "School Type":[school_types],
      "Total Students":[per_school_counts],
      "Total School Budget":[total_school_budget],
      "Per Student Budget":[per_student_budget],
      "Average Math Score":[per_school_math],
      "Average Reading Score":[per_school_reading],
      "% Passing Math":[percentage_students_passing_math],
      "% Passing Reading":[percentage_students_passing_reading],
      "% Overall Passing Rate":[overall_passing_rate]
                                  })

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

TypeError: unsupported format string passed to Series.__format__

In [71]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=False)


top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Bailey High School District ...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

In [72]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["% Overall Passing Rate"], ascending=True)
bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Bailey High School District ...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

In [82]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
tenth_grader_math_scores = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby(["school_name"]["math_score"].mean()),
eleventh_grader_math_scores = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby(["school_name"]["math_score"].mean()),
twelfth_grader_math_scores = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby(["school_name"]["math_score"].mean()),

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores,
      "10th": tenth_grade_math_scores,
      "11th": eleventh_grade_math_scores,
      "12th": twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

<>:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:9: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:10: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:11: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:9: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:10: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:11: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20472\2582323689.py:8: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  ninth_grade_math_scores = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby(["school_name"]["math_score"].mean()),

TypeError: list indices must be integers or slices, not str